footer {
    background-color: rgb(143, 143, 143);
    padding-bottom: 2em;
}

a:hover, a:link, a:visited {
    text-decoration: none;
}

.contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0em;
    padding: 3em;
    padding-bottom: 1em;
}

.contacto {
    display: flex;
    flex-direction: column;
}

.imagen {
    display: flex;
    justify-content: center;
}

.imagen img{
    width: 75%;
}
.contacto a {
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.contacto a:hover {
    color: #fcff3e;
}

.redes {
    display: flex;
    width: 10em;
}

.redes img {
    width: fit-content;
    height: 2em;
    margin: 0.5em;
}

.derechos-autor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.derechos-autor p {
    margin: 0;
    color: black;
}

.derechos-autor a {
    text-decoration: none;
    color:black
}

.derechos-autor a:hover {
    color: #fcff3e;
}

.imagen-desktop {
    display: none;
}

.desktop-version {
    display: none;
}

.contacto-celular a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.caja-mobile {
    display: flex;
    background-color: aqua;
    position: sticky;
    justify-content: center;
    bottom: 0;
    margin-top: 8em;
    z-index: 10;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3em;
}

.link a {
    color: black;
    font-weight: 700;
    font-size: 1.1em;
}

.donar {
    background-color: #fcff3e;
}

.socio {
    background-color: black;
}

.socio a {
    color: white;
}

.donar:hover{
    background-color: rgb(255, 255, 0);
}

.socio:hover {
    background-color: rgb(33, 33, 33);
}

@media (min-width:820px) {
    .contenedor {
        justify-content: center;
    }

    .subcontenedor {
        display: flex;
    }

    .imagen {
        width: 4em;
    }

    .imagen-desktop {
        display: block;
    }

    .imagen img {
        width: 100%;
    }

    .desktop-version {
        display: block;
    }

    .desktop-version h6 {
        margin-left: 0.5em
    }

    .desktop-version hr {
        margin-top: 0;
        margin-bottom: 0.6em;
        margin-left: 0.5em
    }

    .redes-logo {
        display: flex;
    }

    .redes {
        flex-direction: column;
        margin: 1em;
    }

    .contacto {
        margin: 1em;
    }

    .contacto-celular {
        margin: 1em;
    }

    .contacto a {
        margin-bottom: 1.5em;
    }

    .imagen-mobile {
        display: none;
    }
}

@media (min-width:992px) {
    .caja-mobile {
        display: none;
    }
}