<footer>
    <div class="contenedor">
        <div class="imagen">
            <img src="../../../assets/Logo.png" alt="logo-fundacion" class="imagen-mobile">
            <img src="../../../assets/footer.png" alt="logo-fundacion" class="imagen-desktop">
        </div>
    
        <div class="subcontenedor">
            <div class="contacto">
                <div class="desktop-version">
                    <h6>ENCONTRANOS</h6>
                    <hr>
                </div>
                <a href="https://goo.gl/maps/S5gxTg73pEqBpcoY9" target="_blank">Antonio Sobral 378</a>        
            </div>

            <div class="contacto-celular">
                <div class="desktop-version">
                    <h6>CONTACTO</h6>
                    <hr>
                </div>
                <a href="3534136756" target="_blank">+54 3534136756</a>
            </div>
                
            <div class="redes">
                <div class="desktop-version">
                    <h6>REDES SOCIALES</h6>
                    <hr>
                </div>
                <div class="redes-logo">
                    <a href="https://www.facebook.com/fundacion.sobral" target="_blank"><img src="../../../assets/facebook.png" alt="logo-facebook"></a>
                    <a href="#"><img src="../../../assets/instagram.png" target="_blank" alt="logo-instagram"></a>
                    <a href="#"><img src="../../../assets/email.png" target="_blank" alt="logo-email"></a>
                </div>
                
            </div>
        </div>
    </div>

    <div class="derechos-autor">
        <p>Copyright © 2023, <a href="#" target="_blank">@vterreno</a></p>
        <p>Todos los derechos reservados</p>
    </div>
</footer>
