<footer>
    <div class="contenedor">
        <div class="imagen">
            <img src="../../../assets/Logo.png" alt="logo-fundacion">
        </div>
    
        <div class="subcontenedor">
            <div class="contacto">
                <a href="https://goo.gl/maps/S5gxTg73pEqBpcoY9" target="_blank">Antonio Sobral 378</a>        
                <a href="3534136756">+54 3534136756</a>
            </div>
            <div class="redes">
            <a href="https://www.facebook.com/fundacion.sobral"><img src="../../../assets/facebook.png" alt="logo-facebook"></a>
            <a href="#"><img src="../../../assets/instagram.png" alt="logo-instagram"></a>
            <a href="#"><img src="../../../assets/email.png" alt="logo-email"></a>
            </div>
        </div>
    </div>

    <div class="derechos-autor">
        <p>Copyright © 2023, <a href="#">@vterreno</a></p>
        <p>All rights reserved</p>
    </div>
</footer>
