<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fcff3e;">
    <!-- Desktop version -->
    <div class="logo">
        <div class="logo-img">
            <img src="../../../assets/Logo.png" alt="logo-fundacion">
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="caja-desk">
            <div class="link donar">
                <a href="#" id="donar">DONAR</a>
            </div>
            <div class="link socio">
                <a [routerLink]="'/socios'" id="socio">SER SOCIO</a>
            </div>
        </div>
    </div>

    <div class="second-nav">
        <a href="#">INICIO</a>
        <a [routerLink]="'/quienes-somos'">¿QUIÉNES SOMOS?</a>
        <a [routerLink]="'/empresas'">EMPRESAS</a>
        <a [routerLink]="'/todasnoticias'">NOTICIAS</a>
        <a [routerLink]="'/encontranos'">ENCONTRANOS</a>
        <a [routerLink]="'/talleres'">TALLERES</a>
        <a [routerLink]="'/socios'">SOCIOS</a>
    </div>

    <!-- Mobile version -->
    <div class="collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="'/quienes-somos'">¿QUIÉNES SOMOS?</a>
            <a class="nav-item nav-link" [routerLink]="'/empresas'">EMPRESAS</a>
            <a class="nav-item nav-link" [routerLink]="'/todasnoticias'">NOTICIAS</a>
            <a class="nav-item nav-link" [routerLink]="'/encontranos'">ENCONTRANOS</a>
            <a class="nav-item nav-link" [routerLink]="'/talleres'">TALLERES</a>
            <a class="nav-item nav-link" [routerLink]="'/socios'">SOCIOS</a>
            <hr>
        </div>
    </div>
    
    
</nav>

