<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fcff3e;">
    <div class="logo">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="donacion">DONAR</button>
    </div>
    <div class="collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">¿QUIENES SOMOS?</a>
            <a class="nav-item nav-link" href="#">SPONSORS</a>
            <a class="nav-item nav-link" href="#">NOTICIAS</a>
            <a class="nav-item nav-link" href="#">ENCONTRANOS</a>
            <a class="nav-item nav-link" href="#">REDES SOCIALES</a>
            <hr>
        </div>
    </div>
    
</nav>