a:link, a:visited {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 0;
    top: 0;
    position: sticky;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 5em;
}

.navbar-toggler {
    border: none;
}

.donacion {
    cursor: pointer;
    background: transparent;
    border-radius: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.donacion:hover {
    background-color: black;
    color: white;
}

.navbar-nav a {
    font-size: 1em;
    font-weight: 600;
}

.second-nav {
    border: 8px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}
.second-nav a {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.second-nav a:hover {
    color: #fcff3e;
}

.logo-img {
    width: 15em;
    display: flex;
    align-items: center;
}

.logo-img img {
    width: 10%;
}

.logo button a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.logo button a:hover {
    color: white
}

.caja-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.link a {
    color: black;
    font-weight: 700;
    font-size: 1.2em;
}

.donar a {
    border: 1px solid black;
    padding: 0.2em 2.6em;
}

.socio a{
    color: white;
    background-color: black;
    padding: 0.2em 1.8em;
    border: 1px solid black;
}

.donar a:hover{
    background-color: rgb(255, 255, 0);
}

.socio a:hover {
    background-color: rgb(33, 33, 33);
}

@media (max-width:992px) {
    .donacion {
        display: none;
    }

    .second-nav {
        display: none;
    }

    .logo {
        padding: 1.5em 1.5em;
    }
    .logo img {
        width: 10%;
    }

    .caja-desk {
        display: none;
    }

}