<app-header></app-header>
<div class="banner">
    <img src="../../../assets/encontranos-banner.png" alt="encontranos-banner">
</div>

<div class="contenedor">
    <div class="titulo">
        <h4>ENCONTRANOS</h4>
        <p>La Fundación Sobral tiene su sede en la Biblioteca
            “Bernardino Rivadavia” <b>Antonio Sobral Nº 378</b> de la ciudad de Villa María.</p></div>
    
    <div class="horarios">
        <h4>HORARIOS DE ATENCIÓN</h4>
        <p>De lunes a viernes 10 a 12hs</p>
    </div>
    
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.1273712156108!2d-63.2420215!3d-32.4157461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc42e4330b0219%3A0xc0935c4520df7098!2sAntonio%20Sobral%20378%2C%20X5900%20Villa%20Mar%C3%ADa%2C%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1sen!2sbr!4v1677256437556!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<hr>
<app-empresas></app-empresas>
<app-footer></app-footer>