a {
    color: black;
}

a:link, a:visited {
    text-decoration: none;
}


h4 {
    margin: 1em 0em;
    margin-left: 0.7em;
}

.r1 {
    background-image: url(../../../assets/taller-interiorismo.png);
    background-size: cover;
}

.r2 {
    background-image: url(../../../assets//taller-tango.png);
    background-size: cover;
}

.r3 {
    background-image: url(../../../assets/taller-ingles.png);
    background-size: cover;
    
}


.rectangulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    border-radius: 0.5em;
    padding: 1em;
}

.rectangulo h6 {
    color: white;
    margin: 0;
}

.rectangulo a {
    border-radius: 1em;
    background-color: white;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangulo a:hover {
    background-color: black;
    color: white
}

#titulo {
    font-size: 1.7em;
}


hr {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.socios {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.socios h4 {
    font-size: 1em;
    margin: 0em;
}

.socios a {
    padding: 0.5em;
    color: rgb(0 0 0);
    background-color: rgb(246, 255, 0);
    border: 1px solid #0000002b;
    line-height: 3.5em;
    border-radius: 1em;
}

.socios a:hover {
    background-color: rgb(235, 242, 40);
}

.todos-talleres {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0em;
}

.todos-talleres a {
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-talleres a:hover {
    background-color: rgb(0, 0, 0);
    color: white;  
}
@media (min-width:820px) {
    h4 {
        font-size: 2em;
        margin-left: 8%;
    }

    .rectangulo {
        margin: 1em 8%;
        font-size: 1.2em;
    }

    .rectangulo h6 {
        font-size: 1.2em;
    }

    #titulo {
        font-size: 2.5em;
    }

    .socios h4 {
        font-size: 1.2em;
    }

    .todos-talleres a {
        font-size: 1em;
    }
    
}