<h4 style="font-weight: 700;" id="titulo">¿QUÉ HACEMOS?</h4>
<div class="rectangulo r1">
    <h6>Taller de interiorismo</h6>
    <a href="#">Conocer más</a>
</div>

<div class="rectangulo r2">
    <h6>Taller de tango</h6>
    <a href="#">Conocer más</a>
</div>

<div class="rectangulo r3">
    <h6>Taller de idiomas</h6>
    <a href="#">Conocer más</a>
</div>

<div class="todos-talleres">
    <a [routerLink]="'/talleres'">Ver todos los talleres</a>
</div>

<div class="socios"> 
    <h4>Si deseas formar de nuestro plan de socios </h4>
    <a [routerLink]="'/socios'"> ¡haz click aquí!</a>
</div>

<hr>
 