.titulo {
    margin: 2em 4em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.titulo span {
    background-color: rgb(159, 159, 159);
    width: 10em;
    height: 4px;
    border-radius: 1em;
}

.titulo h4 {
    font-size: 2em;
    font-weight: 600;
}

.contenedor {
    display: grid;
    justify-content: center;
    gap: 2em;
    grid-template-columns: repeat(3, 0.3fr);
}

.contenedor-noticia {
    border: solid rgb(143, 142, 142) 1px;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    height: 100%;
    font-size: 1em;
}

.contenido-img img{
    object-fit: cover;
    width: 100%;
    height: 15em;
    border-radius: 1em;
}

.contenido-texto h6 {
    font-size: 0.9em;
}

.contenido-texto a h3 {
    font-size: 2em;
}

.contenido-texto a {
    text-decoration: none;
    color: black;
}

.contenido-texto a:hover {
    color: rgb(187, 187, 0);
}

@media (max-width:1030px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    .titulo {
        margin-left: 2em;
        margin-bottom: 0.8em;
    }

    .titulo h4 {
        font-size: 1.5em;
    }

    .contenido-texto a h3 {
        font-size: 1.5em;
    }

    .contenedor-noticia {
        font-size: 0.9em;
    }
}