<app-header></app-header>

<div class="titulo">
    <h4>TODAS LAS NOTICIAS</h4>
    <span></span>
</div>


<div class="contenedor">

    <div class="contenedor-noticia">
        <div class="contenido-texto">
            <h6>12/12/2022</h6>
            <a href="#"><h3>Cierre de talleres 2022</h3></a>
            <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p></a>
        </div>
        <div class="contenido-img">
            <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
        </div>
    </div>

    <div class="contenedor-noticia">
        <div class="contenido-texto">
            <h6>14/12/2022</h6>
            <a href="#"><h3>Entrega de alimentos a merendero "San Expedito"</h3></a>
            <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et</p></a>
        </div>
        <div class="contenido-img">
            <img class="d-block" src="../../../assets/merendero.jpg" alt="First slide">
        </div>
    </div>

    <div class="contenedor-noticia">
        <div class="contenido-texto">
            <h6>12/12/2022</h6>
            <a href="#"><h3>Cierre de talleres 2022</h3></a>
            <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p></a>
        </div>
        <div class="contenido-img">
            <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
        </div>
    </div> 

    <div class="contenedor-noticia">
        <div class="contenido-texto">
            <h6>12/12/2022</h6>
            <a href="#"><h3>Cierre de talleres 2022</h3></a>
            <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p></a>
        </div>
        <div class="contenido-img">
            <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
        </div>
    </div> 

    <div class="contenedor-noticia">
        <div class="contenido-texto">
            <h6>12/12/2022</h6>
            <a href="#"><h3>Cierre de talleres 2022</h3></a>
            <a href="#"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p></a>
        </div>
        <div class="contenido-img">
            <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
        </div>
    </div> 
</div>

<app-footer></app-footer>

<script>
    let main = document.documentElement.querySelector('.titulo')
    main.scroll(0, 0);
</script>