<app-header></app-header>
<div class="banner">
    <img src="../../../../assets/noticias-banner.png" alt="noticias-banner">
</div>

<div class="titulo">
    <h4>TODAS LAS NOTICIAS</h4>
    <hr>
</div>

<div class="contenedor">
    <div class="noticia">
        <a href="#">
            <div class="titulo-noticia">
                <h6>12/12/2022</h6>
                <h3>Cierre de talleres 2022</h3>
            </div>
            <div class="contenedor-noticias">
                <div class="cn-texto">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque
                        asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate
                        obcaecati corrupti doloribus quisquam voluptatibus.</p>
                </div>
                <div class="cn-img">
                    <img src="../../../../assets/merendero.jpg" alt="merendero">
                </div>
            </div>
        </a>
    </div>
    <div class="linea">
        <hr>
    </div>
    




    <div class="noticia">
        <a href="#">
            <div class="titulo-noticia">
                <h6>12/12/2022</h6>
                <h3>Cierre de talleres 2022</h3>
            </div>
            <div class="contenedor-noticias">
                <div class="cn-texto">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque
                        asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate
                        obcaecati corrupti doloribus quisquam voluptatibus.</p>
                </div>
                <div class="cn-img">
                    <img src="../../../../assets/merendero.jpg" alt="merendero">
                </div>
            </div>
        </a>
    </div>
    <div class="linea">
        <hr>
    </div>

    <div class="noticia">
        <a href="#">
            <div class="titulo-noticia">
                <h6>12/12/2022</h6>
                <h3>Cierre de talleres 2022</h3>
            </div>
            <div class="contenedor-noticias">
                <div class="cn-texto">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque
                        asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate
                        obcaecati corrupti doloribus quisquam voluptatibus.</p>
                </div>
                <div class="cn-img">
                    <img src="../../../../assets/merendero.jpg" alt="merendero">
                </div>
            </div>
        </a>
    </div>
    <div class="linea">
        <hr>
    </div>
</div>

<app-empresas></app-empresas>
<app-footer></app-footer>