<app-header></app-header>
<div class="banner">
    <img src="../../../assets/socios-banner.png" alt="socios-banner">
</div>

<div class="titulo">
    <h2>¡Hazte socio muy fácil!</h2> 
</div>



<div class="container">
    <div class="pasos">
        <div class="socios-texto">
            <p>La Fundación Cultural Dr. Antonio Sobral, año a año brinda ayuda a aquellas personas que lo necesitan, a partir de la recaudación de fondos mensual generada gracias a los socios y otras donaciones. Es por ello que, al ser una entidad sin fines de lucro, las sumas de dinero anteriormente mencionadas son destinadas a diferentes fines: entrega de alimentos, ropa y útiles escolares a merenderos, comedores y Escuelas carenciadas de Villa María y Villa Nueva; colectas de uniformes y ropa de abrigo, así como también de alimentos no perecederos; entrega de material escolar (fotocopias, libros, cuadernillos) a alumnos de nuestra Escuela; creación de diversos eventos culturales para recaudar fondos para determinados fines, etc.</p>
            <p>Nuestro objetivo es brindar ayuda de calidad, para brindarles a los niños y adolescentes, un futuro mejor. Es por ello que siendo socio, estarás aportando un grano de arena hacia la sociedad.</p>
        </div>      
    </div>
    </div>
    
<div class="socio-img">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$500</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>
    <div class="creciendo-juntos">
        <img src="../../../assets/creciendo-juntos.png" alt="creciendo-juntos">
    </div>  
</div>

<app-footer></app-footer>