<app-header></app-header>
<div class="banner">
    <img src="../../../assets/socios-banner.png" alt="socios-banner">
</div>

<div class="titulo">
    <h2>¡Hazte socio muy fácil!</h2> 
</div>

<div class="pasos">
    <h4>Pasos</h4>
    <ol>
        <li>Elije la opción que deseas.</li>
        <li>Haz click en el botón "Seleccionar".</li>
        <li>Completa el formulario.</li>
        <li>Listo.</li>
    </ol>
    <p>¡Ya eres parte de nuestra gran familia!</p>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$100</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$500</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$1000</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$2500</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title">$5000</h5>
          <h6 class="card-subtitle mb-2 text-muted">/mes</h6>
          <a href="#" class="card-link">Seleccionar</a>
        </div>
    </div>
</div>

<div class="creciendo-juntos">
    <img src="../../../assets/creciendo-juntos.png" alt="creciendo-juntos">
</div>

<app-footer></app-footer>