.banner img {
    width: 100%;
}

.container-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 1em;
    width: 60%;
    background-color: #fcff3e;
    border-radius: 0.5em;
}

h5 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 00;
}

h6 {
    display: flex;
    justify-content: center;
}

.card-link {
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
    color: white;
    border-radius: 1em;
    font-weight: 600;
    font-size: 0.85em;
    padding: 0.5em 0em;
    margin-top: 1em;
}

h2 {
    font-size: 1.7em;
    font-weight: 700;
}

.titulo {
    padding: 1em;
}

.pasos {
    padding: 1em;
    margin: 1em;
    border: 1px solid #929292;
    border-radius: 1em;
}

.pasos ol {
    padding: 0em 1.1em;
    font-size: 1em;
}

.pasos p {
    text-align: center;
    border: 1px solid #bbbbbb;
    border-radius: 1em;
    padding: 0.5em 0em;
}

.pasos p:hover {
    background-color: #fcff3e;
    font-weight: 600;
    border: 1px solid black;
}

.creciendo-juntos img {
    width: 100%;
    padding: 2em 3em;
}

.card-link:hover {
    background-color: black;
}

@media (min-width:820px) {
    .titulo h2 {
        font-size: 2.5em;
        margin-left: 4.2%;
    }
    
    .pasos {
        width: 40%;
        padding: 1.5em;
    }

    .pasos h4{
        font-size: 1.8em;
    }

    .pasos ol {
        font-size: 1.2em;
    }

    .pasos p {
        font-size: 1.2em;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .container-card {
        display: flex;
        flex-direction: row;
    }

    .card-link {
        padding: 0.5em 1em;
        font-size: 0.9em;
    }

    h5 {
        font-size: 2.2em;
    }

    .creciendo-juntos {
        display: flex;
        justify-content: center;
    }

    .creciendo-juntos img{
        width: 50%;
    }
}

@media (min-width:992px) {
    .banner {
        height: 15em;
    }
    
    .banner img {
        height: 100%;
        object-fit: cover;
    } 


}