<div class="titulo">
    <h4>ÚLTIMAS NOTICIAS</h4>
    <button><a href="#">VER TODAS</a></button>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="contenido">
            <div class="contenido-texto">
                <h6>12/12/2022</h6>
                <a href="#"><h3>Cierre de talleres 2022</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p>
            </div>
            <div class="contenido-img">
                <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="contenido">
            <div class="contenido-texto">
                <h6>14/12/2022</h6>
                <a href="#"><h3>Entrega de alimentos a merendero "San Expedito"</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et</p>
            </div>
            <div class="contenido-img">
                <img class="d-block" src="../../../assets/merendero.jpg" alt="First slide">
            </div>
            
        </div>
      </div>
      <div class="carousel-item">
        <div class="contenido">
            <div class="contenido-texto">
                <h6>12/12/2022</h6>
                <a href="#"><h3>Cierre de talleres 2022</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p>
            </div>
            <div class="contenido-img">
                <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="contenido">
            <div class="contenido-texto">
                <h6>12/12/2022</h6>
                <a href="#"><h3>Cierre de talleres 2022</h3></a>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, ullam aperiam a fugiat itaque asperiores delectus voluptatibus similique in magnam! Labore perferendis minima et cupiditate obcaecati corrupti doloribus quisquam voluptatibus.</p>
            </div>
            <div class="contenido-img">
                <img class="d-block" src="../../../assets/prueba.jpg" alt="First slide">
            </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
      </ol>
  </div>
  <hr>