.background img{
    max-width: 100%;
}

.background-mobile {
    display: none;
}

@media (max-width: 560px) {
    .background {
        display: none
    }

    .background-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .background-mobile img {
        width: 100%;
    }
}