<app-header></app-header>

<div class="banner">
  <img src="../../../assets/Quienes-somos-banner.png" alt="quienes-somos-banner">
</div>

<div class="container">
  <div class="desktop-version">
    <div class="intro">
      <h4>NOSOTROS</h4>
      <p>La Fundación Cultural “Dr. Antonio Sobral” fue creada el 2 de diciembre de 1972. Luego de la desaparición física
        del Dr. Sobral, un grupo de colaboradores y amigos decidió la creación de una entidad sin fines de lucro que
        llevara su nombre; así nació la Fundación Cultural “Dr. Antonio Sobral”. Fue su primer Presidente el Prof. Pedro
        Cicottino. También ocuparon la Presidencia el Lic. Eduardo Marzolla y el Prof. Eduardo Martínez.</p>
      <p>En la actualidad, la Fundación Sobral es presidida por la Profesora Liliana Camps y tiene su sede en la Biblioteca
        “Bernardino Rivadavia” Antonio Sobral Nº 378 de la ciudad de Villa María, con oficina que atiende al público de
        lunes a viernes de 08:30 a 12:30 horas.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quasi illum sint quam hic odio itaque, velit labore sapiente cumque, porro sit animi perspiciatis! Consectetur adipisci sapiente laborum quos saepe!</p>
      </div>
  
    <div class="objetivos">
      <h4>OBJETIVOS</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light" data-aos="fade-right" data-aos-duration="1800">Difundir el
          ideario del Dr. Antonio Sobral.</li>
        <li class="list-group-item list-group-item-light" data-aos="fade-right" data-aos-duration="1800">Editar trabajos
          científicos, literarios o históricos de autores locales.</li>
        <li class="list-group-item list-group-item-light" data-aos="fade-right" data-aos-duration="1800">Promover el
          desarrollo integral y cultural de la ciudad y la región.</li>
        <li class="list-group-item list-group-item-light" data-aos="fade-right" data-aos-duration="1800">Contribuir al
          sostenimiento material de la Institución Biblioteca “Bernardino Rivadavia” y de los establecimientos
          educacionales que de ella dependan.</li>
        <li class="list-group-item list-group-item-light" data-aos="fade-right" data-aos-duration="1800">Realizar y/o
          promover reuniones culturales con la presencia de escritores, poetas, historiadores, etc.</li>
        <li class="list-group-item list-group-item-light" >Organizar conciertos musicales, espectáculos de teatro, danza o
          cualquier otra manifestación artística con sentido de difusión popular.</li>
      </ul>
  
    </div>
  </div>
</div>
<hr>

<div class="historia">
  <h4>BIBLIOGRAFÍA</h4>
</div>

<section>
  <div class="container py-5">
    <div class="main-timeline">
      <div class="timeline left">
        <div class="card" data-aos="fade-right" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2017</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
      <div class="timeline right">
        <div class="card" data-aos="fade-left" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2016</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
      <div class="timeline left">
        <div class="card" data-aos="fade-right" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2015</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
      <div class="timeline right">
        <div class="card" data-aos="fade-left" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2012</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
      <div class="timeline left">
        <div class="card" data-aos="fade-right" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2011</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
      <div class="timeline right">
        <div class="card" data-aos="fade-left" data-aos-duration="1800">
          <div class="card-body p-4">
            <h3>2007</h3>
            <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
              mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
              dignissim per, habeo iusto primis ea eam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="img-creciendo">
  <img src="../../../assets/creciendo-juntos.png" alt="">
</div>
<hr style="margin-bottom: 3.5em;">

<app-empresas></app-empresas>
<app-footer></app-footer>