<h4 style="font-weight: 700;" id="titulo">EMPRESAS</h4>
<div class="contenedor-img">
    <div class="cont2">
        <img src="../../../assets/macro-logo.png" alt="macro-logo">
    </div>
    <div class="cont2">
        <img src="../../../assets/Nestle-Logo.png" alt="Nestle-Logo">
    </div>
    <div class="cont2">
        <img src="../../../assets/carra-logo.png" alt="carra-logo">
    </div>
    <div class="cont2">
        <img src="../../../assets/vea-logo.png" alt="vea-logo">
    </div>
    <div class="cont2">
        <img src="../../../assets/carnesdo-logo.png" alt="carnesdo-logo">
    </div> 
</div>

<div class="colaboracion">
    <h4>Si pertenecés a una empresa y querés donar o colaborar <a [routerLink]="'/empresas'">¡enterate cómo!</a></h4>    
</div>