h4 {
    margin-left: 1em;
}

.contenedor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titulo {
    font-size: 1.7em;
}

.cont2 {
    width: 10em;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2 img {
    width: 100%;
    object-fit: contain;
}

.colaboracion {
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.colaboracion h4 {
    font-size: 1rem;
    color: #333333;
    margin: 0;
}

.colaboracion a {
    padding: 0.5em;
    color: rgb(0 0 0);
    background-color: rgb(246, 255, 0);
    border: 1px solid #0000002b;
    line-height: 3.5em;
    border-radius: 1em;
}

.colaboracion a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

@media (min-width:820px) {
    h4 {
        margin-top: 1.5em;
        font-size: 2em;
        margin-left: 8%;
    }

    .contenedor-img {
        flex-direction: row;
        margin: 1em 3.5em;
    }

    .colaboracion h4 {
        font-size: 1.2em;
    }

    #titulo {
        font-size: 2.5em;
    }

}