<app-header></app-header>
<div class="banner">
  <img src="../../../../assets/empresas-banner.png" alt="empresas-banner">
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">NOS ACOMPAÑAN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">SUMÁ A TU EMPRESA</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="images">
          <img src="../../../../assets/macro-logo.png" alt="macro-logo" class="macro">
          <img src="../../../../assets/carnesdo-logo.png" alt="carnesdo-logo">
          <img src="../../../../assets/Nestle-Logo.png" alt="Nestle-Logo">
          <img src="../../../../assets/vea-logo.png" alt="vea-logo">
          <img src="../../../../assets/carra-logo.png" alt="carra-logo">
        </div>
        <div class="contacto-empresas">
          <h4>CONTACTO PARA EMPRESAS</h4>
          <p>Si perteneces a una empresa y querés contactarte con nosotros escribinos a <a href="#"> mail@fundacion</a></p>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h4>SUMÁ A TU EMPRESA</h4>
      <p>Voluntario corporativo</p>
      <p>Fundación Sobral ofrece diferentes propuestas de voluntariado corporativo durante todo el año. La idea es que durante una jornada los empleados puedan participar de la Fundación como voluntarios. De acuerdo a la cantidad de personas y a la época del año, cada una de las actividades es desarrollada como un complemento de los programas que llevamos adelante. De esta manera, se busca sumar y potenciar aún más el cumplimiento de nuestros objetivos y el desarrollo de una cultura comunitaria. Con actividades sencillas y sin necesidad de tener experiencia o conocimientos previos, los voluntarios pueden participar de proyectos a largo plazo con un fuerte impacto en la realidad más próxima a sus trabajos u hogares. Puede integrarse incluso a toda la familia del empleado, multiplicando los brazos y generando una tarea solidaria entre padres e hijos.</p>
      <p>Si pertenecés a una empresa y querés más información sobre las jornadas escribinos a <a href="#"> mail@fundacion</a></p>
    </div>
  </div>
  <hr>
  <div class="donaciones-titulo">
    <h2>DONACIONES</h2>
  </div>
  <div class="donaciones">
    <h4>PARA REALIZAR DONACIONES CON TU EMPRESA EN VILLA MARIA PODÉS ACERCARTE A NUESTRA SEDE DE ANTONIO SOBRAL 378 DE LUNES A VIERNES DE 8.30 A 12.30HS</h4>
  </div>

  <div class="aclaracion">
    <p>En caso de ser donaciones voluminosas, escribinos a <a href="#">mail@fundacion</a> y confirmá que tengamos lugar para recibirlas.</p>
  </div>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.1273712156108!2d-63.2420215!3d-32.4157461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc42e4330b0219%3A0xc0935c4520df7098!2sAntonio%20Sobral%20378%2C%20X5900%20Villa%20Mar%C3%ADa%2C%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1sen!2sbr!4v1677256437556!5m2!1sen!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <app-footer></app-footer>
