<app-header></app-header>
<h4>NOS ACOMPAÑAN</h4>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quasi placeat odit dolores excepturi eum, nesciunt modi error aliquam impedit tempora in cupiditate velit iste optio ipsum vel reprehenderit repellendus?</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, voluptatibus impedit deserunt modi temporibus dolores sed, maiores libero quia ipsa illum provident ut rerum id omnis alias iure perferendis. Veritatis?
    </div>
  </div>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3368.1460249477755!2d-63.24708138487163!3d-32.415246381082774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95cc4389c3fa5643%3A0x813f841ecdb67564!2sMood!5e0!3m2!1sen!2sbr!4v1677207313533!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>