a {
    color: rgb(90 89 89);
}

.banner img {
    width: 100%;
}

.nav-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-link {
    background-color: #efefef;
}

.tab-pane {
    padding: 1em;
}

.nav-link{
    padding: 0.5rem 1.1rem;
    background-color: #fcff3e;
}

.nav-item {
    width: 50%;
}

.nav-item a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 30%;
    object-fit: contain;
    margin-bottom: 3.5em;
}

.macro {
    margin: 0em !important;
}

.contacto-empresas {
    padding: 0.5em;
}

.contacto-empresas h4 {
    font-size: 1.4em;
    font-weight: 700;
}

.contacto-empresas p {
    font-size: 0.9em;
}

.contacto-empresas a {
    color: #007bff;
    text-align: justify;
}

#profile {
    padding: 1.5em;
}

#profile h4 {
    font-size: 1.4em;
    font-weight: 700;
}

#profile p {
    text-align: justify
}

#profile a {
    color: #007bff
}

.donaciones-titulo h2{
    margin-top: 2em;
    font-size: 1.7em;
    font-weight: 700;
    margin-left: 0.8em;
}

.donaciones {
    padding: 0.6em;
    margin: 1.5em;
    background-color: #fcff3e; 
}

.donaciones h4 {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    background-color: white;
    padding: 1em;
    margin: 0;
    border: 1px solid #00000014; 
}

.aclaracion a {
    color: #007bff;
}

.aclaracion {
    padding: 0em 1.7em;
    font-size: 0.9em;  
    text-align: justify;
}

iframe {
    width: 100%;
    padding: 1em 1.3em;
}

.nav-link.active {
    color: black;
}

.nos-titulo h4 {
    font-size: 1.4em;
    font-weight: 700;
    padding-left: 0.5em;
    padding-top: 0.4em;
}


@media (min-width:700px) {
    .images {
        flex-direction: row;
    }

    .images img {
        width: 14%;
    }

    #profile {
        width: 70%;
        margin-left: 10%;
    }

    #profile h4{
        font-size: 2em;
    }

    .contacto-empresas {
        margin-left: 10%;
    }

    .donaciones {
        margin: 1em 11.5%;
    }

    .donaciones h4 {
        font-size: 1.3em;
    }

    .donaciones-titulo {
        margin-left: 9.5%
    }

    .aclaracion {
        display: flex;
        justify-content: center;
        padding: 0em 12%;
        font-size: 1em;
    }

    iframe {
        padding: 1em 11.5%;
    }

    .nos-titulo {
        margin-left: 9.5%;
        font-size: 1.2em
    }

    .nos-titulo h4 {
        font-size: 2em;
    }
}

@media (min-width:992px) {  
    .banner {
        height: 15em;
        width: 100%;
    }

    .banner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .contacto-empresas {
        font-size: 1.2em;
    }

    #profile {
        font-size: 1.2em;
        width: 55%;
        text-align: justify;
    }

    #profile p {
        font-size: 0.9em;
    }

    .nav-item a {
        font-size: 1.2em;
    }

    .donaciones-titulo h2 {
        font-size: 2.5em;
        margin-left: 0.7em;
    }
}