.banner img {
    width: 100%;
}

.nav-tabs {
    margin-top: 0.1em;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-link {
    background-color: #efefef;
}

.tab-pane {
    padding: 1em;
}

.nav-link{
    padding: 0.5rem 1.1rem
}

.nav-item {
    width: 50%;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 50%;
    object-fit: contain;
    margin-bottom: 3.5em;
}

.macro {
    margin: 0em !important;
}

.contacto-empresas {
    padding: 0.5em;
}

.contacto-empresas h4 {
    font-size: 1.4em;
    font-weight: 700;
}

.contacto-empresas p {
    font-size: 0.8em;
    font-weight: 500;
}

#profile h4 {
    font-size: 1.4em;
    font-weight: 700;
}

.donaciones-titulo h2{
    margin-top: 2em;
    font-size: 1.7em;
    font-weight: 700;
    margin-left: 0.8em;
}

.donaciones {
    padding: 0.8em;
    margin: 1em;
    background-color: #fcff3e;
    border-radius: 1em;
}

.donaciones h4 {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin: 0; 
}

.aclaracion {
    padding: 0em 1.5em;
    font-size: 0.8em;
    font-weight: 500;
    
}

iframe {
    width: 100%;
    padding: 1em;
}

@media (min-width:992px) {  
    .banner {
        height: 15em;
        width: 100%;
    }

    .banner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .images {
        flex-direction: row;
    }

    .images img {
        width: 15%;
    }

    #profile {
        width: 70%;
    }
}