<app-header></app-header>
<div class="banner">
  <img src="../../../../assets/talleres-banner.png" alt="talleres-banner">
</div>

<div class="container">
  <div class="explicacion">
    <div class="expl-content">
      <h4>Talleres activos</h4>
      <span class="circle y"></span>
    </div>
    <div class="expl-content">
      <h4>Talleres inactivos</h4>
      <span class="circle g"></span>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="item">
      <div class="item-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <div class="btn-titule">Taller de idiomas</div>
            <i class="fa fa-angle-down"><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt=""></i>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="t-p">
          El proyecto del dictado de talleres de idiomas, tales como el de Inglés e Italiano, surge con el objetivo de brindar a los alumnos, herramientas básicas y fundamentales para que logren alcanzar un nivel de aprendizaje comunicacional, con enfoque informal, que permita a cada uno desarrollar sus conocimientos en situaciones que así lo requieran.
        </div>
        <div class="t-btn">
          <a href="https://forms.gle/wvhyWY3YfQQabQJ38" target="_blank">Inscribirse</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
            <div class="btn-titule">Taller de yoga</div>
            <i class="fa fa-angle-down"><img src="../../../../assets/arrow-down-sign-to-navigate.png" alt=""></i>
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="t-p">
          El yoga es una práctica que consiste en la conexión de la respiración, el cuerpo y la mente. A través de este taller, se busca mejorar la salud general, mediante la utilización de distintas posturas físicas, técnicas respiratorias y de meditación, las cuales llevan a un nivel de relajación que posee múltiples beneficios, tales como: reducir el estrés, mejorar la postura corporal, la coordinación y concentración, ayudar a dormir mejor, etc.
        </div>
        <div class="t-btn">
          <a href="https://forms.gle/wvhyWY3YfQQabQJ38" target="_blank">Inscribirse</a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="item-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" id="inactivo-btn" type="button" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            <div class="btn-titule">Taller de interiorismo</div>
            <i class="fa fa-angle-down"><img src="../../../../assets/arrow-down-w.png" alt=""></i>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="inactivo">
          <h4>Inscripciones cerradas</h4>
        </div>
        <div class="t-p">
          El presente taller busca extender los conocimientos arquitectónicos que posee la profesora, mediante la enseñanza de diversas técnicas y conceptos de diseño de interiores y decoración de espacios, para que de esta manera, los alumnos puedan manipular tanto el volumen espacial como el superficial, y así remodelar diversos rincones del hogar, aprovechándolos y creando una estética única y especial.
        </div>

        <!-- 
        <div class="t-btn">
          <a href="https://forms.gle/wvhyWY3YfQQabQJ38" target="_blank">Inscribirse</a>
        </div>
        -->
        
      </div>
    </div>
    <div class="item">
      <div class="item-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" id="inactivo-btn" type="button" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
            <div class="btn-titule">Taller de tango</div>

            <i class="fa fa-angle-down"><img src="../../../../assets/arrow-down-w.png" alt=""></i>
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="inactivo">
          <h4>Inscripciones cerradas</h4>
        </div>
        <div class="t-p">
          El tango es un género musical y una danza típica de nuestro país, el cual contiene mucha historia desde su creación hasta la actualidad. A través de este taller, buscamos volver a nuestras raíces y conectar con el sentido de la letra y melodía de cada canción, mediante la enseñanza de la propia danza, con movimientos suaves, delicados, sentimentales e interpretativos realizados en pareja. Intentamos mantener viva la cultura de Argentina, su historia y su clásico tango.
        </div>
        <!--
        <div class="t-btn">
          <a href="https://forms.gle/wvhyWY3YfQQabQJ38" target="_blank">Inscribirse</a>
        </div>
        -->
        
      </div>
    </div>
  </div>
</div>
<hr>

<app-empresas></app-empresas>
<app-footer></app-footer>
