a, a:visited {
    text-decoration: none;
}

h2 {
    font-size: 1.7em;
}

.banner img {
    width: 100%;
}

.container {
    margin-top: 2em;
}


.accordion{
    margin: 40px 0;
    margin-top: 0.5em;
}

.accordion .item {
      border: none;
      margin-bottom: 1em;
      background: none;
}

.t-p{
    color: rgb(0 0 0);
    padding: 10px 20px 30px 20px;
    text-align: justify;
}

.accordion .item .item-header h2 button.btn.btn-link {
    background: #fcff3e;
    color: black;
    border-radius: 0px;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 2.5;
    text-decoration: none;
    border-radius: 1em;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em;
}

.accordion .item .item-header {
      border-bottom: none;
      background: transparent;
      padding: 0px;
      margin: 2px;
}
  
.accordion .item .item-header h2 button {
      color: white;
      font-size: 20px;
      padding: 15px;
      display: block;
      width: 100%;
      text-align: left;
}
  
.accordion .item .item-header h2 i {
      float: right;
      font-size: 30px;
      color: #eca300;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
}
  
button.btn.btn-link.collapsed i {
      transform: rotate(0deg);
}
  
button.btn.btn-link i {
      transform: rotate(180deg);
      transition: 0.5s;
}

i img {
    width: 40%;
}

.btn-titule {
    padding-left: 1em;
}

.t-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7em;
}

.t-btn a {
    border-radius: 1em;
    border: none;
    padding: 0.5em 1.5em;
    background-color: #fcff3e;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.t-btn a:hover {
    background-color: #e6e937;
}

#inactivo-btn {
    background-color: rgb(138, 138, 138);
    color: white;
}

.inactivo {
    padding: 10px 20px
}

.explicacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
    padding: 0.5em;
}

.explicacion h4 {
    font-size: 1.1em;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 10em;
    margin: 0em 0.5em;
}

.y {
    background-color: yellow;
}

.g {
    background-color: #828282;
}

.expl-content {
    display: flex;
    align-items: center;
}

.expl-content h4 {
    margin: 0;
}

@media (min-width:820px) {
    .titulo h4 {
        font-size: 2.5em;
        margin-left: 6.5%;
    }

    .item {
        width: 80%;
    }

    .btn-titule {
        font-size: 1.2em;
    }

    .container {
        margin-left: 6.5%;
        margin-top: 3em;
    }

    .t-p {
        font-size: 1.2em;
    }

    .t-btn a {
        font-size: 1.1em;
    }

    .explicacion {
        width: 80%;
        margin-bottom: 2em;
    }

    .expl-content h4 {
        font-size: 1.5em;
    }

    .circle {
        height: 30px;
        width: 30px;
    }
}

@media (min-width:992px) {
    .banner {
        height: 15em;
    }
    
    .banner img {
        height: 100%;
        object-fit: cover;
    } 
}